@import 'https://fonts.googleapis.com/css?family=Kanit|Prompt';

    body {
        font-family: 'Kanit', sans-serif;
    }

    .containerss {
        margin: 10px;
        padding: 10px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .body {
        margin-left: 30px;
        margin-right: 30px;
    }

    .col {
        /* padding: 10px; */
        padding-left: 30px;
        padding-right: 30px;
        /* border: 1px solid #000; */
    }

    .btn-link {
        font-size: 20px;
    }

    .col1,
    .col3 {}

    .photo,
    .img {

        height: 160px;
        width: 160px;

    }

    table {
        padding: 10px;
    }

    .h2 {
        margin-top: 60px;
    }

    .searchress {
        height: 300px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-top: 20px;
    }

    i {
        margin-right: 10px;
    }

    .col-10 {
        padding-left: 25px;
        padding-right: 25px;
    }

    .out_search {
        top: 30px;
        font-size: 20px;
        color: #db0000;
    }